[Unit]
Description=Run Six Degrees of Wikipedia API Orchestrator Daily

[Timer]
# Runs every day at 02:00 AM server time
OnCalendar=*-*-* 02:00:00
Persistent=true

[Install]
WantedBy=timers.target